#job-seekers {
  .arrow-up {
    margin-top: 0px;
    margin-bottom: -5px;
  }

  .arrow-up,
  .arrow-down {
    height: 16px;
    font-size: 20px;
    transition: all 0.1s linear;
    cursor: pointer;

    &:hover {
      background-color: rgb(243, 243, 243);
    }
  }

  .back,
  .forward {
    border: 2px solid #dadada;
    border-radius: 5px;
    color: #5e5e5e;

    svg {
      margin-top: -5px;
    }

    &.disable {
      opacity: 0.4;
      border-radius: 5px;
      background: #ebebeb;
    }
  }

  .page {
    width: 25px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #dadada;
    color: #5e5e5e;

    &.active {
      color: white;
      border-color: #2c2c2c;
      background: #2c2c2c;
    }
  }
}
