.dashboard {
  min-width: 280px;
  max-width: 320px; }
  .dashboard .main-frame {
    width: fit-content;
    margin: 1rem auto 2rem; }
  .dashboard .jf-main {
    color: #ffda35;
    font-family: "Roboto Slab";
    letter-spacing: 4px;
    font-weight: bold; }
  .dashboard .jf-sub-text {
    color: white;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: 500; }
  .dashboard .text-container .dropdown {
    display: none;
    margin-left: auto;
    font-size: 40px;
    margin-top: -15px;
    margin-bottom: -15px;
    transition: all 0.2s linear; }
    .dashboard .text-container .dropdown.active {
      transform: rotate(180deg); }
  .dashboard .option {
    cursor: pointer;
    padding: 15px 10px;
    color: white;
    box-shadow: inset 0 0 0 0 #80808017;
    transition: ease-out 0.4s;
    overflow: hidden; }
    .dashboard .option--logo {
      font-size: 30px; }
    .dashboard .option--text {
      display: inline-block;
      font-size: 17px;
      font-family: "Roboto Slab"; }
    .dashboard .option--sub {
      display: none;
      margin-left: auto;
      list-style: circle;
      font-size: 14px;
      line-height: 25px;
      margin-top: 5px;
      padding-left: 45px; }
      .dashboard .option--sub li {
        width: 100%; }
      .dashboard .option--sub li.active {
        font-weight: bold;
        width: fit-content;
        list-style: disc; }
      .dashboard .option--sub.hide {
        display: none !important; }
    .dashboard .option:hover {
      box-shadow: inset 500px 0 0 0 #80808017; }
    .dashboard .option.active {
      background-color: #014a53; }
      .dashboard .option.active .option--sub {
        display: block; }
      .dashboard .option.active .text-container .dropdown {
        display: block; }
      .dashboard .option.active:hover {
        box-shadow: none; }
  .dashboard hr {
    margin-top: 1rem;
    height: 1.5px;
    width: 100%;
    border-radius: 10px;
    background-color: white; }
  .dashboard .account {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    position: relative;
    z-index: 1; }
    .dashboard .account--img img {
      min-width: 60px;
      max-width: 60px; }
    .dashboard .account__text {
      text-overflow: ellipsis;
      overflow: hidden; }
      .dashboard .account__text h3,
      .dashboard .account__text p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .dashboard .account__text p {
        color: #ffda35; }
    .dashboard .account::before {
      transition: 0.3s all ease-in-out;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: "";
      z-index: -1;
      background-color: #353535; }
    .dashboard .account:hover::before {
      left: 0;
      right: 0;
      opacity: 1; }
