#job-seekers .arrow-up {
  margin-top: 0px;
  margin-bottom: -5px; }

#job-seekers .arrow-up,
#job-seekers .arrow-down {
  height: 16px;
  font-size: 20px;
  transition: all 0.1s linear;
  cursor: pointer; }
  #job-seekers .arrow-up:hover,
  #job-seekers .arrow-down:hover {
    background-color: #f3f3f3; }

#job-seekers .back,
#job-seekers .forward {
  border: 2px solid #dadada;
  border-radius: 5px;
  color: #5e5e5e; }
  #job-seekers .back svg,
  #job-seekers .forward svg {
    margin-top: -5px; }
  #job-seekers .back.disable,
  #job-seekers .forward.disable {
    opacity: 0.4;
    border-radius: 5px;
    background: #ebebeb; }

#job-seekers .page {
  width: 25px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #dadada;
  color: #5e5e5e; }
  #job-seekers .page.active {
    color: white;
    border-color: #2c2c2c;
    background: #2c2c2c; }
